<div class="">

  <table>
    <tr>
      <td> <button type="button" id="1" class="btn btn-outline-primary acientos" > 1 </button></td>
      <td> <button type="button" id="2" class="btn btn-outline-primary acientos"> 2 </button></td>
      <td> <button type="button" id="3" class="btn btn-outline-primary acientos"> 3 </button></td>
      <td> <button type="button" id="4" class="btn btn-outline-primary acientos"> 4 </button></td>
      <td> <button type="button" id="5" class="btn btn-outline-primary acientos"> 5 </button></td>
    </tr>

    <tr>
      <td> <button type="button" id="6" class="btn btn-outline-primary acientos"> 6 </button></td>
      <td> <button type="button" id="7" class="btn btn-outline-primary acientos"> 7 </button></td>
      <td> <button type="button" id="8" class="btn btn-outline-primary acientos" > 8 </button></td>
      <td> <button type="button" id="9" class="btn btn-outline-primary acientos" > 9 </button></td>
      <td> <button type="button" id="10" class="btn btn-outline-primary acientos"> 10 </button></td>
    </tr>

    <tr>
      <td> <button type="button" id="11" class="btn btn-outline-primary acientos"> 11 </button></td>
      <td> <button type="button" id="12"  class="btn btn-outline-primary acientos"> 12 </button></td>
      <td> <button type="button" id="13" class="btn btn-outline-primary acientos"> 13 </button></td>
      <td> <button type="button" id="14" class="btn btn-outline-primary acientos"> 14 </button></td>
      <td> <button type="button" id="15" class="btn btn-outline-primary acientos"> 15 </button></td>
    </tr>

    <tr>
      <td> <button type="button" id="16" class="btn btn-outline-primary acientos"> 16 </button></td>
      <td> <button type="button" id="17" class="btn btn-outline-primary acientos"> 17 </button></td>
      <td> <button type="button" id="18" class="btn btn-outline-primary acientos"> 18 </button></td>
      <td> <button type="button" id="19" class="btn btn-outline-primary acientos"> 19 </button></td>
      <td> <button type="button" id="20" class="btn btn-outline-primary acientos"> 20 </button></td>
    </tr>

  </table>

</div>
